.homefilter {
    &--section {
        padding-bottom: 0;

    }

    &-selects {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 75px;

        @media (max-width: 767px) {
            flex-flow: column;
            margin-bottom: 70px;
        }

        >* {
            &:not(:last-child) {
                margin-right: 29px;

                @media (max-width: 767px) {
                    margin-right: 0;
                    margin-bottom: 17px;
                }
            }
        }

        .custom-dropdown {
            min-width: 259px;

            &-btn,
            &-list {
                background-color: $color-gray;
            }

            &-btn {
                height: 50px;
                padding: 12px 16px 12px 24px;
                font-size: 1.8rem;
                font-weight: 500;

                &::after {
                    width: 8px;
                    height: 8px;
                    margin-left: auto;
                    margin-right: 5px;
                }
            }

            &-list {
                ul {
                    padding: 0;

                    li {
                        font-size: 1.8rem;
                        font-weight: 500;
                        border: 0;
                        padding: 11px 16px 11px 24px;
                    }
                }

                .checkbox {
                    width: 100%;
                    display: flex;
                    align-items: center;

                    input {
                        order: 2;
                        margin-right: 0;
                        flex: 0 0 22px;
                        width: 22px;
                        height: 22px;
                        margin-left: auto;
                    }

                    label {
                        display: flex;
                        align-items: center;
                        color: $color-black-2;
                        font-size: 1.8rem;
                        font-weight: 500;
                        width: 100%;
                        padding-left: 0;
                        margin-bottom: 0;
                        cursor: pointer;

                        &::before,
                        &::after {
                            left: auto;
                            right: 0;
                        }

                        &::before {
                            width: 22px;
                            height: 22px;
                        }

                        &::after {
                            right: 4px;
                            width: 16px;
                            height: 16px;
                            transition: all .2s ease-out;
                        }
                    }
                }

                .checkbox-dropdown {
                    &-list {
                        background-color: transparent;

                        ul {
                            padding-top: 8px;

                            li {
                                padding: 8px 0;

                                &:last-child {
                                    padding-bottom: 0;
                                }
                            }
                        }

                        .checkbox {

                            label {
                                color: $color-black-light;
                            }
                        }
                    }

                    &.open {
                        .checkbox label::after {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}