.legals {
    h2 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 45px;

        @media (max-width: 991px) {
            font-size: 2.4rem;
            margin-bottom: 28px;
        }
    }

    h3,
    p {
        margin-bottom: 22px;
    }

    h3 {
        font-size: 2.4rem;
        font-weight: 700;
        color: $color-purple;

        @media (max-width: 991px) {
            font-size: 2rem;
        }
    }

    p {
        color: $color-black-light;
        font-size: 1.8rem;
        line-height: 24px;

        @media (max-width: 991px) {
            font-size: 1.6rem;
        }
    }
}