.pagination {
    display: flex;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: 77px;
    margin-bottom: 0;

    .pagination {
        margin-top: 0px;
    }

    &.text-center {
        text-align: center;
        justify-content: center;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        font-weight: 500;
        width: 50px;
        height: 50px;
        margin: 0 7px 14px;
        padding: 0;
        background-color: #fff;
        cursor: pointer;

        @media (max-width: 991px) {
            width: 40px;
            height: 40px;
            font-size: 18px;
            margin: 0 5px 10px;
        }

        &:hover {
            span,
            a {
                background-color: rgba($color-purple, 0.15);
            }
        }

        &.active,
        .current {
            color: #fff;
            background-color: $color-purple;
        }

        span,
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }

        .sr-only {
            display: none;
        }

        &.page {
            &-first,
            &-last {
                display: none;
            }

            &-prev,
            &-next {
                color: $color-purple;
                background-color: transparent;

                &.disabled {
                    cursor: default;
                    opacity: .35;
                }

                .page-link {
                    color: transparent;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    width: 8px;
                    height: 8px;
                    border: 2px solid $color-purple;
                }
            }

            &-prev {
                margin-left: 0;
                order: -1;

                &::before {
                    transform: translate(-25%, -50%) rotate(45deg);
                    border-width: 0 0 2px 2px;
                }
            }

            &-next {
                margin-right: 0;

                &::before {
                    transform: translate(-65%, -50%) rotate(45deg);
                    border-width: 2px 2px 0 0;
                }
            }
        }
    }

    .prev,
    .next {
        color: $color-purple;
        background-color: transparent;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            width: 8px;
            height: 8px;
            border: 2px solid $color-purple;
        }
    }

    .prev {
        margin-left: 0;
        order: -1;

        &::before {
            transform: translate(-25%, -50%) rotate(45deg);
            border-width: 0 0 2px 2px;
        }
    }

    .next {
        margin-right: 0;

        &::before {
            transform: translate(-65%, -50%) rotate(45deg);
            border-width: 2px 2px 0 0;
        }
    }
}

#pagination-container {
    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style-type: none;
        flex-wrap: wrap;
        margin-top: 77px;
        margin-bottom: 0;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            font-weight: 500;
            width: 50px;
            height: 50px;
            margin: 0 7px 14px;
            padding: 0;
            background-color: #fff;
            cursor: pointer;

            @media (max-width: 991px) {
                width: 40px;
                height: 40px;
                font-size: 18px;
                margin: 0 5px 10px;
            }

            &:hover {
                span,
                a {
                    background-color: rgba($color-purple, 0.15);
                }
            }

            &:first-child,
            &:last-child {
                &.active,
                .current {
                    color: $color-purple !important;
                    background-color: transparent !important;
                }

                .prev,
                .next {
                    &::before {
                        display: none !important;
                    }
                }
            }

            &.active,
            .current {
                color: #fff;
                background-color: $color-purple;
            }

            span,
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
            }

            .sr-only {
                display: none;
            }

            &.page {
                &-first,
                &-last {
                    display: none;
                }

                &-prev,
                &-next {
                    color: $color-purple;
                    background-color: transparent;

                    &.disabled {
                        cursor: default;
                        opacity: .35;
                    }

                    .page-link {
                        color: transparent;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                        width: 8px;
                        height: 8px;
                        border: 2px solid $color-purple;
                    }
                }

                &-prev {
                    margin-left: 0;
                    order: -1;

                    &::before {
                        transform: translate(-25%, -50%) rotate(45deg);
                        border-width: 0 0 2px 2px;
                    }
                }

                &-next {
                    margin-right: 0;

                    &::before {
                        transform: translate(-65%, -50%) rotate(45deg);
                        border-width: 2px 2px 0 0;
                    }
                }
            }
        }

        .prev,
        .next {
            color: $color-purple;
            background-color: transparent;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                width: 8px;
                height: 8px;
                border: 2px solid $color-purple;
            }
        }

        .prev {
            margin-left: 0;
            order: -1;

            &::before {
                transform: translate(-25%, -50%) rotate(45deg);
                border-width: 0 0 2px 2px;
            }
        }

        .next {
            margin-right: 0;

            &::before {
                transform: translate(-65%, -50%) rotate(45deg);
                border-width: 2px 2px 0 0;
            }
        }
    }
}
